<a href="https://colab.research.google.com/github/DudeDiv/21CSS101J-RA2211042010028-Python/blob/main/RA2211042010028-Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Simple print in Python

In [ ]:
print("Hello Python!")

Hello Python!

2. Seconds in an hour

In [ ]:
seconds_in_an_hour = 60 * 60
seconds_in_an_hour

3600

3. Comment in Python

In [ ]:
#This is a comment da.

4. Indentation in Python

In [ ]:
if (5>2):
 print("Hello 5!")

Hello 5!

5. Variables in Python

In [ ]:
x=5
y="Hello Bye"
print(x)
print(y)
#Don't forget it's case sensitive.

5
Hello Bye

6. Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

In [ ]:
"""
So this is how
you'll add a 
multiline comment.
"""
print("Hi Comment")

Hi Comment

7. To specify the data type to a variable, casting can be used.

In [ ]:
x = str(3)
y = int(3)
z = float(3)
print(x, y, z)
print(x)
print(y)
print(z)

3 3 3.0
3
3
3.0

8. We can get he data type with **type()** function.

In [ ]:
x = 10
y = "Shubu"
print(type(x)) #integer type
print(type(y)) #string type

<class 'int'>
<class 'str'>

9. Single or Double quotes?
--> In Python, Strings can be declared by either single or double quotes.

In [ ]:
x = "Shubu"
#is same as
x = 'Shubu'
print(x)

Shubu

10. Legal variable names in Python

In [ ]:
mycar = "Ford"
Mycar = "Ford"
myCar = "Ford"
_mycar = "Ford"
_my_car = "Ford"
MYCAR = "Ford"
MY2Car = "Ford"
"""
These are the errors in/illegal variable names :
2mycar = "Ford"
my Car = "Ford"
my-car = "Ford"
"""

'\nThese are the errors in/illegal variable names :\n2mycar = "Ford"\nmy Car = "Ford"\nmy-car = "Ford"\n'

11. Many values to multiple variables or one value to multiple variables.

In [3]:
x, y, z = "Orange", "Banana", "Apple"
print(x)
print(y)
print(z)
print(x, y,z)
a,b,c = "Berries", "Jupyter", 'Shubu'
print (a,b,c)

Orange
Banana
Apple
Orange Banana Apple
Berries Jupyter Shubu

12. If we have a collection of values in a list, tuple etc then Python allows us to extract the values into variables. This is called unpacking.

In [4]:
fruits = ["apple", "banana", "orange"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
orange

13. Output variables

In [5]:
x = "Python is awesome"
print(x)
a = "Shubu"
b = "is"
c = "awesome"
print(a, b, c)

Python is awesome
Shubu is awesome

14. We can also use the **+** operator to output multiple variables and use as a mathematical operator too.

In [8]:
x = "Shubu "
y = "lives in "
z = "631"
print(x + y + z)
a = 12
b = 16
c = 31
print (a+b+c)
#Failes when we try to combine string and number together
#Example: x = 5
#y = "Shubu"
#print (x+y) --> Prints error
#In such case use print(x,y)

Shubu lives in 631
59

15. Global variables - can be used inside and outside the function.
Local variable will be used inside the function only whereas global function can be used outside of the function too.

In [10]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [9]:
a = "Shubu"

def myfunc():
  a = "fantastic"
  print("Shubu is " + a)

myfunc()

print("Shubu is " + a)

Python is fantastic
Python is Shubu