<a href="https://colab.research.google.com/github/DudeDiv/21CSS101J-RA2211042010028-Python/blob/main/RA2211042010028.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Simple print in Python

In [ ]:
print("Hello Python!")

Hello Python!

2. Seconds in an hour

In [1]:
seconds_in_an_hour = 60 * 60
seconds_in_an_hour

3600

3. Comment in Python

In [2]:
#This is a comment da.

4. Indentation in Python

In [4]:
if (5>2):
 print("Hello 5!")

Hello 5!

5. Variables in Python

In [6]:
x=5
y="Hello Bye"
print(x)
print(y)
#Don't forget it's case sensitive.

5
Hello Bye

6. Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

In [7]:
"""
So this is how
you'll add a 
multiline comment.
"""
print("Hi Comment")

Hi Comment

7. To specify the data type to a variable, casting can be used.

In [14]:
x = str(3)
y = int(3)
z = float(3)
print(x, y, z)
print(x)
print(y)
print(z)

3 3 3.0
3
3
3.0

8. We can get he data type with **type()** function.

In [17]:
x = 10
y = "Shubu"
print(type(x)) #integer type
print(type(y)) #string type

<class 'int'>
<class 'str'>

9. Single or Double quotes?
--> In Python, Strings can be declared by either single or double quotes.

In [18]:
x = "Shubu"
#is same as
x = 'Shubu'
print(x)

Shubu

10. Legal variable names in Python

In [21]:
mycar = "Ford"
Mycar = "Ford"
myCar = "Ford"
_mycar = "Ford"
_my_car = "Ford"
MYCAR = "Ford"
MY2Car = "Ford"
"""
These are the errors in/illegal variable names :
2mycar = "Ford"
my Car = "Ford"
my-car = "Ford"
"""

'\nThese are the errors in/illegal variable names :\n2mycar = "Ford"\nmy Car = "Ford"\nmy-car = "Ford"\n'